<section class="py-5 bg-light">
  <div class="container container-lg">
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <h2 class="display-5 fw-bold text-success mb-4">SDM - Sistema Digital de Marcação</h2>
        <p class="lead text-muted">
          No SDM, nossa missão é simplificar a marcação de consultas e exames, trazendo conforto e praticidade para a sua vida.
        </p>
        <p class="mb-4">
          Chega de filas intermináveis e madrugadas na frente de hospitais! Com o SDM, você agenda seus procedimentos de saúde direto da sua casa, com total segurança e sem expor sua saúde a riscos desnecessários.
        </p>
        <p>
          Nosso propósito é enfrentar o desafio das longas esperas e da dificuldade de acesso no sistema de saúde público. Acreditamos que todos merecem um processo de agendamento eficiente e justo, sem a frustração de não encontrar vagas ou perder seu tempo precioso.
        </p>
        <a routerLink="/marcacao" class="btn btn-success btn-lg mt-3">Agendar <i class="bi bi-arrow-right ms-2"></i></a>
      </div>

      <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="card shadow-lg rounded-3 border-0 about-us-card">
          <img src="assets/img/sobrenos.jpg" class="card-img-top rounded-3" alt="Sobre o site">
        </div>
      </div>
    </div>
  </div>
</section>