<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
      <div class="card shadow-lg p-4">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Agendamento de Consulta</h2>

          <form #agendamentoForm="ngForm" (ngSubmit)="onSubmit()">
            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="nomeCompleto" class="form-label">Nome Completo <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="nomeCompleto"
                  name="nomeCompleto"
                  [(ngModel)]="formData.nomeCompleto"
                  pattern="[A-Za-z\s]+"
                  required
                  #nomeCompleto="ngModel"
                >
                <div *ngIf="nomeCompleto.invalid && (nomeCompleto.dirty || nomeCompleto.touched)" class="text-danger small-text">
                  <div *ngIf="nomeCompleto.errors?.['required']">Nome é obrigatório.</div>
                  <div *ngIf="nomeCompleto.errors?.['pattern']">Use apenas letras e espaços.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="cpf" class="form-label">CPF <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="cpf"
                  name="cpf"
                  [(ngModel)]="formData.cpf"
                  pattern="[0-9]{11}"
                  maxlength="11"
                  required
                  #cpf="ngModel"
                >
                <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="text-danger small-text">
                  <div *ngIf="cpf.errors?.['required']">CPF é obrigatório.</div>
                  <div *ngIf="cpf.errors?.['pattern']">CPF deve ter 11 números.</div>
                </div>
              </div>
            </div>

            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="dataNascimento" class="form-label">Data de Nascimento <span class="text-danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="dataNascimento"
                  name="dataNascimento"
                  [(ngModel)]="formData.dataNascimento"
                  required
                  #dataNascimento="ngModel"
                  [max]="getMaxDateHtml"
                >
                <div *ngIf="dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)" class="text-danger small-text">
                  <div *ngIf="dataNascimento.errors?.['required']">Data é obrigatória.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="telefone"
                  name="telefone"
                  [(ngModel)]="formData.telefone"
                  pattern="^\(\d{2}\)\s\d{4,5}-\d{4}$"
                  placeholder="(XX) XXXX-XXXX"
                  maxlength="15"
                  required
                  #telefone="ngModel"
                >
                <div *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)" class="text-danger small-text">
                  <div *ngIf="telefone.errors?.['required']">Telefone é obrigatório.</div>
                  <div *ngIf="telefone.errors?.['pattern']">Formato inválido.</div>
                </div>
              </div>
            </div>

            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="endereco" class="form-label">Endereço <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="endereco"
                  name="endereco"
                  [(ngModel)]="formData.endereco"
                  required
                  #endereco="ngModel"
                >
                <div *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)" class="text-danger small-text">
                  <div *ngIf="endereco.errors?.['required']">Endereço é obrigatório.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="formData.email"
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                  required
                  #email="ngModel"
                >
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger small-text">
                  <div *ngIf="email.errors?.['required']">Email é obrigatório.</div>
                  <div *ngIf="email.errors?.['pattern']">Email inválido.</div>
                </div>
              </div>
            </div>

            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="especialidade" class="form-label">Especialidade <span class="text-danger">*</span></label>
                <select
                  class="form-select"
                  id="especialidade"
                  name="especialidade"
                  [(ngModel)]="formData.especialidade"
                  required
                  #especialidade="ngModel"
                  (change)="onEspecialidadeChange()"
                >
                  <option value="" disabled selected>Selecione uma especialidade...</option>
                  <option value="Clinico Geral">Clínico Geral</option>
                  <option value="Cardiologista">Cardiologista</option>
                  <option value="Exames de sangue">Exames de sangue</option>
                  <option value="Ultrassonografia">Ultrassonografia</option>
                  <option value="Ortodontia">Ortodontia</option>
                  <option value="Clinico Geral Odontologia">Clínico Geral Odontologia</option>
                </select>
                <div *ngIf="especialidade.invalid && (especialidade.dirty || especialidade.touched)" class="text-danger small-text">
                  <div *ngIf="especialidade.errors?.['required']">Especialidade é obrigatória.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="medico" class="form-label">Médico <span class="text-danger">*</span></label>
                <select
                  class="form-select"
                  id="medico"
                  name="medico"
                  [(ngModel)]="formData.medico"
                  required
                  #medico="ngModel"
                  [disabled]="!formData.especialidade"
                >
                  <option value="" disabled selected>Selecione um médico...</option>
                  <option *ngFor="let medico of medicosDisponiveis" [value]="medico.id">{{ medico.nome }}</option>
                </select>
                <div *ngIf="medico.invalid && (medico.dirty || medico.touched)" class="text-danger small-text">
                  <div *ngIf="medico.errors?.['required']">Médico é obrigatório.</div>
                </div>
              </div>
            </div>

            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="hospital" class="form-label">Hospital Disponível <span class="text-danger">*</span></label>
                <select
                  class="form-select"
                  id="hospital"
                  name="hospital"
                  [(ngModel)]="formData.hospital"
                  required
                  #hospital="ngModel"
                >
                  <option value="" disabled selected>Selecione um hospital...</option>
                  <option value="Aristides Maltez">Aristides Maltez</option>
                  <option value="Irmã Dulce">Irmã Dulce</option>
                  <option value="AUO- Unidade de Atendimento Odontologico">AUO- Unidade de Atendimento Odontológico</option>
                </select>
                <div *ngIf="hospital.invalid && (hospital.dirty || hospital.touched)" class="text-danger small-text">
                  <div *ngIf="hospital.errors?.['required']">Hospital é obrigatório.</div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="dataConsulta" class="form-label">Data da Consulta <span class="text-danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="dataConsulta"
                  name="dataConsulta"
                  [(ngModel)]="formData.dataConsulta"
                  required
                  #dataConsulta="ngModel"
                  [min]="getTodayDateHtml()"
                >
                <div *ngIf="dataConsulta.invalid && (dataConsulta.dirty || dataConsulta.touched)" class="text-danger small-text">
                  <div *ngIf="dataConsulta.errors?.['required']">Data é obrigatória.</div>
                </div>
              </div>
            </div>

            
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="hora" class="form-label">Hora do Agendamento <span class="text-danger">*</span></label>
                <select
                  class="form-select"
                  id="hora"
                  name="horaAgendamento"
                  [(ngModel)]="formData.horaAgendamento"
                  required
                  #horaAgendamento="ngModel"
                >
                  <option value="" disabled selected>Selecione a hora...</option>
                  <option *ngFor="let hora of horasDisponiveis" [value]="hora">{{ hora }}</option>
                </select>
                <div *ngIf="horaAgendamento.invalid && (horaAgendamento.dirty || horaAgendamento.touched)" class="text-danger small-text">
                  <div *ngIf="horaAgendamento.errors?.['required']">Hora é obrigatória.</div>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-end">
                <div class="w-100">
                  <div class="form-check mb-2">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="termoAutorizacao"
                      name="termoAutorizacao"
                      [(ngModel)]="formData.termoAutorizacao"
                      required
                      #termoAutorizacao="ngModel"
                    >
                    <label class="form-check-label" for="termoAutorizacao">
                      Aceito os <a href="#" class="text-success">Termos de Autorização</a> <span class="text-danger">*</span>
                    </label>
                  </div>

                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="confirmarAgendamento"
                      name="confirmarAgendamento"
                      [(ngModel)]="formData.confirmarAgendamento"
                      required
                      #confirmarAgendamento="ngModel"
                    >
                    <label class="form-check-label" for="confirmarAgendamento">Confirmo os dados <span class="text-danger">*</span></label>
                  </div>
                </div>
              </div>
            </div>

        
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-success btn-lg" [disabled]="!agendamentoForm.valid">Agendar Consulta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>